    <br>
    {{#each random}}
        <img src="{{image_url}}" alt="bier">
            <p><a href="/beers/beer-{{id}}">{{name}}</a></p>
            <p>{{tagline}}</p>
            <p>{{description}}</p>
            <p>{{food_pairing}}</p>
            <p>{{brewers_tips}}</p>
    {{/each}}